<article class="helper-list">

	<table class="table table-hover">
	{{!task title}}
		<thead>
			{{title}}
		</thead>

	{{!helpers by tasks}}
		<tbody>
			<tr>
			{{!name}}
			<td>name{{helpers.user.displayName}}<img src={{model.helper.user.imageThumbUrl}} height="50" width="50" class="img-circle"></td>
			
			{{!email}}
			<td>email{{email}}</td>

			{{!phone number}}
			<td>404-569-4395{{phone}}</td>
			</tr>
		</tbody>
	</table>

</article>