<article class="stack-detail">


		<div class="row">

			{{!stack title}}
			<div class="col-xs-12 center-block text-center">

				{{#if isEditing}}
					<div class="col-md-6 col-md-offset-3">
					{{edit-title type="text" value=title focus-out="updateTitle" insert-newline="updateTitle"}}
					</div>
				{{else}}

					<div class="">
					<h4 class="white"{{action "editTitle" on="doubleClick"}}>{{title}}</h4>

					{{!edit}}
					<span>
						<i {{action "editTitle"}}>{{fa-icon "pencil" class="white " x=2 }}</i>
						<i {{action "deleteList" list.id}}>{{fa-icon "remove" x=2 }}</i>
					</span>
				</div>
				{{/if}}


			</div>



			<div class="col-xs-12 text-center">
				{{!stack creator}}
				<p class="white"><small>by</small>
				<small>{{creator}}</small></p>

				{{!custom url}}
				<ul class="url">
					<small>https://handstack.com/#/{{list.id}}</small>
				</ul>

				{{!helper images}}
				<img src={{session.user.imageThumbUrl}} height="50" width="50" class="img-circle">

				{{!helper count}}
				{{helper-count}}
			</div>
		


		</div>{{!row closing}}
		<br><br>
		

</article>
