<article class="stack-detail">

		<div class="row">
			<div class="pull-right">
			{{#link-to "manage"}}
			<button class="btn-gray"> Manage People {{fa-icon "coffee"}}</button> 
			{{/link-to}}
			</div>
		</div>


		<div class="row">

			{{!stack title}}
			<div class="col-xs-12 center-block text-center">
				<div class="inline-block">

				{{#if isEditing}}
					{{edit-title type="text" value=title focus-out="updateTitle" insert-newline="updateTitle"}}
				{{else}}

					<h4 class="white">{{title}}</h4>
					<i {{action "editTitle"}}>{{fa-icon "pencil" class="white"}}</i>
					<i {{action "deleteList" list.id}}>{{fa-icon "remove"}}</i>
				{{/if}}
			</div>
			</div>



			<div class="col-xs-12 text-center">
				{{!stack creator}}
				<p class="white"><small>by</small>
				<small>{{creator}}</small></p>

				{{!custom url}}
				<ul class="url">
					<small>handstack.com/todos/custom-url</small>
				</ul>

				{{!helper images}}
				<img src={{session.user.imageThumbUrl}} height="50" width="50" class="img-circle">

				{{!helper count}}
				{{helper-count}}
			</div>
		


		</div>{{!row closing}}
		<br><br>
		

</article>