<article class="task-list">

	<div class="row no-gutter">

		<div class="col-xs-12 col-md-8 col-md-offset-2">

			{{!input type="text" value=newTodoTitle action="createTodo" placeholder="Enter a todo"}}


		{{!task list}}

			{{!#link-to "details" todo}}
				
					<div class="row list-group-item clearfix">
						
						{{!task}}
						<div class="col-xs-1">
						{{input type ="checkbox" checked=todo.isCompleted class="task-list-cb"}}
						</div>
						
						<div class="col-xs-10 col-md-7">
						{{#if todo.isEditing}}
							{{edit-title type="text" value=todo.model.title focus-out="updateTitle" insert-newline="updateTitle"}}
						{{else}}

						<span class="edit_hover_class">
							<span class="white" {{action "editTitle" on="doubleClick"}}><span class="source-code">{{title}}</span></span>
							<i class="black" {{action "editTitle"}}>{{fa-icon "pencil"}}</i>
							<i class="black" {{action "deleteTodo" t.id}}>{{fa-icon "remove"}}</i>
						</span>
						{{/if}}
						</div>

						<div class="col-xs-12 col-md-4">
						{{!count me in button}}
						{{count-in store=store user=user todo=todo session=session openModal='openModal'}}
						</div>

					</div>
					<div class="row list-group-item clearfix">

						{{!number of hands}}
						{{helper-count}}

					</div>

					{{!/link-to}}

			</div>
	</div>

</article>
