{{!task detail with comments}}
<article class="task-detail">

			<div class="row center-block text-center">
				<br>
				<h4 class="white">{{title}}</h4>
				<small class="white">created by {{creator}}</small>

				<br>

				{{#if isEditing}}
					<div class="col-md-6 col-md-offset-3">
					{{edit-title type="text" value=detail focus-out="updateDetail" insert-newline="updateDetail" placeholder="add details.."}}
					</div>
				{{else}}

			
				<p class="white" {{action "editDetail" on="doubleClick"}}>{{detail}}</p>
				


				{{/if}}

				{{!helper count}}
				{{helper-count}}

				{{!helpers image}}
				<p><img src={{model.helper.user.imageThumbUrl}} height="50" width="50" class="img-circle"></p>
				<p>{{helpers}}</p>

				{{!count me in button}}
				{{count-in store=store user=user todo=todo}}
				

			</div>

</article>