<article class="task-list">

	<div class="row no-gutter">

		<div class="col-xs-12 col-md-8 col-md-offset-2">

			{{!input type="text" value=newTodoTitle action="createTodo" placeholder="Enter a todo"}}


		{{!task list}}
			<ul class="list-group">

					{{!#link-to "details" todo}}
					<div class="edit_hover_class">
					<li class="list-group-item">
						
						{{!task}}
						{{input type ="checkbox" checked=todo.isCompleted}}
						{{#if todo.isEditing}}
							{{edit-title type="text" value=todo.model.title focus-out="updateTitle" insert-newline="updateTitle"}}
						{{else}}

							<a class="white">{{title}}</a>
							<i class="black" {{action "editTitle"}}>{{fa-icon "pencil"}}</i>
							<i class="black" {{action "deleteTodo" t.id}}>{{fa-icon "remove"}}</i>
						{{/if}}

						{{!count me in button}}
						{{count-in store=store user=user todo=todo}}

						{{!number of hands}}
						{{helper-count}}

					</li>
					</div>

					{{!/link-to}}

			</ul>
		</div>

	</div>

</article>