{{!task detail with comments}}
<article class="task-detail">

	<div class="grey-background">

			<div class="row center-block text-center">
				<br>
				<h4>{{title}}</h4>
				<small>created by {{creator}}</small>

				<p>task details</p>


				{{!helper count}}
				{{helper-count}}

				{{!helpers image}}
				<p><img src={{model.helper.user.imageThumbUrl}} height="50" width="50" class="img-circle"></p>


				{{!count me in button}}
				{{count-in action="countMe"}}
				

			</div>
	</div>{{!closing grey-background}}

</article>