<nav class="navbar navbar navbar-static-top">
<div class="container-fluid">
  <div class="navbar-wrapper">

      <div class="navbar-header">

      <span class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">



        {{#if session.isAuthenticated}}

        
          <li><img src={{session.user.imageThumbUrl}} height="40" width="40" class="img-circle">
          </li>
        

          {{!--<li {{action 'logout'}}><a>logout</a></li>--}}


        {{else}}



        <li>
          {{#link-to (query-params foo="yes")}}
          <span class="white">{{fa-icon "user"}}</span>
          {{/link-to}}
        </li>



        {{/if}}


      </span>


        {{!logo}}
        <a class="navbar-brand" href="#">
          <span><img alt="Brand" style="max-width:50px" src="assets/images/logo.png"></span>
          handstack
        </a>
      </div>
     

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">

 
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{!--<li><a {{action 'openModal' 'modal'}}>{{fa-icon "user"}}</a></li>--}}



        {{#if session.isAuthenticated}}

          <li>{{#link-to 'profile'}}{{session.user.displayName}}{{/link-to}}</li>
          <li {{action 'logout'}}><a>logout</a></li>



        {{else}}



        <li>
          {{#link-to (query-params foo="yes")}}
          <span class="white">{{fa-icon "user"}}</span>
          {{/link-to}}
        </li>



        {{/if}}



      </ul>
    
    </div>

  </div>
</div>
</nav>


{{liquid-modal}}

{{liquid-outlet "modal"}}

{{liquid-outlet}}
