{{!stack detail page with task list}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<div class="container-fluid">

		<div class="row">
			<div class="pull-right">
			{{#link-to "manage" model.id}}
			<button class="btn-gray"> Manage People {{fa-icon "coffee"}}</button> 
			{{/link-to}}
			</div>
		</div>


		{{stack-detail list=model title=model.title creator=model.user.displayName isEditing=model.isEditing store=store}}

		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="col-xs-10">
			{{input type="text" value=newTodoTitle action="createTodo" placeholder="Enter a todo"}}
			</div>
				<div class="col-xs-1">
					<button class="btn-pink" {{action "createTodo"}}>+</button>
				</div>
		</div>

<div class="sortable-list">
		{{#each todosort as |t|}}
<div class="item" data-id="{{unbound t.id}}" idx="{{t.idx}}">
			{{#link-to 'lavender' model.id t.id}}
				{{task-list todo=t user=controllers.application.model title=t.title store=store list=model tlist=model.todos}}
			{{/link-to}}
</div>
		{{/each}}
</div>

	</div>

