<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="container-fluid">

	{{task-detail store=store title=model.title creator=model.user.displayName todo=model user=controllers.application.model helpers=model.helper.user.displayName isEditing=model.isEditing detail=model.detail list=model.list openModal='openModal'}}


	<div class="row center-block">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			
			{{#if session.isAuthenticated}}
			<div class="col-xs-3 col-md-2">
				<div class="commenterImage">
					<img src={{session.user.imageThumbUrl}} height="50" width="50" class="img-circle">
				</div>
			</div>
			{{/if}}
				<div class="commentText">
				<div class="col-xs-9 col-md-10">
					{{!creating comment}}
					{{textarea type="text" value=newComment action="createComment" placeholder="say something.." autoresize=true}}
				</div>
				</div>
			<button class="btn-gray pull-right" {{action "createComment"}}>{{fa-icon "arrow-right"}}</button>
		</div>
	</div>


	{{#each commentSort as |comment|}}
		{{comment-thread message=comment.message user=comment.user timestamp=comment.timestamp}}
	{{/each}}

</div>